{% load django_htmx %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>django-htmx example app</title>
    {% load static %}

    <!-- An example of how we can configure htmx -->
    <!-- https://htmx.org/docs/#config -->
    <meta name="htmx-config" content='{"historyCacheSize": 15}'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
</head>

<!--
  Enable htmx extensions for all requests:
  * debug: https://htmx.org/extensions/debug/
  * event-header: https://htmx.org/extensions/event-header/
-->
<body hx-ext="debug, event-header">
  <header>
    <nav>
      <h1>
        <a href="/">
          django-htmx example app
        </a>
      </h1>
      <ul>
        <li>
          <a href="/csrf-demo/">CSRF Demo</a>
        </li>
        <li>
          <a href="/error-demo/">Error Demo</a>
        </li>
        <li>
          <a href="/middleware-tester/">Middleware Tester</a>
        </li>
        <li>
          <a href="/partial-rendering/">Partial Rendering</a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="main">
    {% block main %}{% endblock %}
  </main>
  <footer>
    <hr>
    <p>
      For more information see <a href="https://github.com/adamchainz/django-htmx">django-htmx</a> and <a href="https://htmx.org/">htmx</a>.
    </p>
  </footer>
  {% django_htmx_script %}
  <form>
    {% csrf_token %}
    {{ form.as_p }}
    <button hx-post="." class="btn btn-success"
      type="submit">Save</button>
  </form>

</body>
</html>