{% extends "_base.html" %}
<html>


<div hx-ext="client-side-templates" class="card m-5 p-5 ms-0 text-center">
    <div id="target">
        <h2>Change Me!</h2>
    </div>

    <!-- add htmx attributes to button -->
    <!-- will get this page -->
    <button class="btn btn-primary btn-lg px-4"
            hx-get
            hx-page="13_ClientsideTemplates"
            hx-page-handler="JSON"
            mustache-template="foo"
            hx-target="#target">
        Click Me
    </button>

    <template id="foo">
        <p class="fs-1"> The Id is #{{id}} with the author, {{author}}, writing "{{title}}".</p>
    </template>
</div>


{% block body %}
<div hx-target="this" hx-swap="outerHTML">
  <form>
    {% csrf_token %}
    {{ form.as_p }}
    <button hx-post="." class="btn btn-success"
      type="submit">Save</button>
  </form>
</div>
{% endblock %}

</html>